@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway";
}

html {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: #101c2e;
  color: white;
}

h1, h2, h3, h4, p {
  color: inherit;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

#small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background-color: #101c2e;
  margin: 0;
  gap: 2em;
}

#small li {
  padding: 0.5em 1em;
  border-radius: 10px;
}

#small li a {
  opacity: 1;
  margin: auto;
  font-size: 1.5rem;
}

@media screen and (min-width: 700px) {
  #small {
    display: none;
  }
}

#small.inactive {
  display: none;
}

nav {
  position: fixed;
  left: 0;
  z-index: 1;
  top: 0;
  margin: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  gap: 2.5em;
}

nav a {
  text-decoration: none;
  color: #aebee0;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  #large {
    display: none;
  }
}

header {
  height: 100vh;
  width: 100%;
  background: url("../Assets/header_bg.png");
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  header {
    background-position: top right -150px;
  }
}

header section {
  margin: 0px 100px;
  position: relative;
  top: 4rem;
  color: white;
}

@media screen and (max-width: 600px) {
  header section {
    margin: 0px 10px;
  }
}

#menu-btn {
  position: fixed;
  margin: 15px 10px;
  right: 0;
  top: 0;
  height: 2rem;
  z-index: 9999;
  width: 2rem;
  outline: none;
  border: none;
  background: none;
}

#menu-btn img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 700px) {
  #menu-btn {
    display: none;
  }
}

#contact-form-box {
  position: relative;
  top: 7em;
  max-width: 500px;
  border-radius: 2em;
  font-size: 1em;
  padding: 1em 1em;
  background-color: #030508;
}

@media screen and (max-width: 800px) {
  #contact-form-box {
    top: 9em;
  }
}

#contact-form-box h3 {
  text-align: center;
  color: #aebee0;
}

#contact-form-box form {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-form-box form input {
  width: 29ch;
  border-radius: 5px;
}

#contact-form-box form label {
  font-size: 1.5em;
  font-weight: 700;
}

#contact-form-box form label, #contact-form-box form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#contact-form-box form #body-text {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-radius: 1em;
  width: 29ch;
}

#contact-form-box form input, #contact-form-box form textarea {
  padding: 0.5em 1em;
  outline: none;
  width: 80%;
  background-color: #aebee0;
}

#submit-btn {
  border: none;
  background-color: #2974ff;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  border-radius: 10px;
}
/*# sourceMappingURL=contact.css.map */